@model WebChatApp.Models.CreateMessage
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex align-items-center justify-content-center">
        <form class="message-form" asp-action="CreateMessage" asp-controller="Message">
            <textarea placeholder="Enter a message" class="form-control mb-3" rows="5" required></textarea>
            <input placeholder="Enter secret key" class="form-control mb-2" required />
            <button class="btn btn-primary">Create Message</button>
        </form>
    </div>
</div>
