@{
    ViewData["Title"] = "Created Message";
}
<div class="text-center">
    <h3>Your Message has been created created</h3>
    <h4>Share the link below</h4>
    <link href="#" rel="stylesheet" />
</div>
