@{
    ViewData["Title"] = "Created Message";
}
<div class="text-center">
    <h3>Your Message has been created created</h3>
    <h4>Share the link below</h4>
    <input class="form-control" value="https://localhost:7128@(Url.Action("DecryptMessage", "Message", new { Id = Model.Id}))" />
</div>
