@model ChatApp.Models.DecryptMessage

@{
    ViewData["Title"] = "View Decrypted Message";
}

<div class="text-center">
    <p>Enter Private Key to Decrypt Message</p>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <div class="d-flex align-items-center justify-content-center">

        <form class="message-form" asp-action="ViewMessage" asp-route-id="@Model.Id" asp-controller="Message">
            <input asp-for="SecretKey" placeholder="Enter secret key" class="form-control mb-2" required />
            <button class="btn btn-primary">View Message</button>
        </form>
    </div>
</div>

