@model ChatApp.Models.ViewMessage

@{
     ViewData["Title"] = "View Decrypted Message";
}

<div class="text-center">
     <table class="table table-scripted table-bordered">
      <tr>
          <td colspan="2">Message Details</td>
           </tr>
            <tr><td><b>Id</b></td><td>@Model.Id</td></tr>
        <tr><td><b>Encrypted Content</b></td><td>@Model.EncryptedContent</td></tr>
        <tr><td><b>Decrypted Content</b></td><td>@Model.DecryptedContent</td></tr>
        <tr><td><b>Time Created</b></td><td>@Model.TimeCreated.ToString("yyyy-MM-dd hh:mm tt")</td></tr>
    </table>
</div>
           